In [51]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [52]:
df = pd.read_csv('movies.csv')

In [53]:
df.head(1)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron

In [54]:
df = df.drop(columns=[
    'index', 'budget', 'homepage', 'id', 'popularity',
    'production_companies', 'production_countries', 'release_date',
    'revenue', 'runtime', 'spoken_languages', 'status', 'original_title',
    'vote_average', 'vote_count', 'crew'
], axis = 1)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genres             4775 non-null   object
 1   keywords           4391 non-null   object
 2   original_language  4803 non-null   object
 3   overview           4800 non-null   object
 4   tagline            3959 non-null   object
 5   title              4803 non-null   object
 6   cast               4760 non-null   object
 7   director           4773 non-null   object
dtypes: object(8)
memory usage: 300.3+ KB

In [56]:
df.head()

,genres,keywords,original_language,overview,tagline,title,cast,director
0,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,en,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,Avatar,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron
1,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,en,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski
2,Action Adventure Crime,spy based on novel secret agent sequel mi6,en,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,Spectre,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes
3,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,en,Following the death of District Attorney Harve...,The Legend Ends,The Dark Knight Rises,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan
4,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,en,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",John Carter,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton

In [57]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [58]:
df.columns

Index(['genres', 'keywords', 'original_language', 'overview', 'tagline',
       'title', 'cast', 'director'],
      dtype='object')

In [59]:
columns_to_concat = ['title', 'genres', 'keywords', 'original_language', 'overview', 'tagline', 'cast', 'director']
df['combined_column'] = df[columns_to_concat].astype(str).apply(lambda row: ' '.join(row), axis=1)

In [60]:
# features = df.drop(columns=columns_to_concat, axis=1)

In [61]:
# features.head()

In [62]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import re

In [63]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [64]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [65]:
def preprocess_text(text):
  text = str(text).lower()
  text = re.sub(r'[^a-zA-Z\s]', '', text)
  words = text.split()
  words = [word for word in words if word not in stop_words]
  words = [lemmatizer.lemmatize(word) for word in words]
  return ' '.join(words)

In [66]:
df['combined_column'] = df['combined_column'].apply(preprocess_text)

In [67]:
df.sample(5)

,genres,keywords,original_language,overview,tagline,title,cast,director,combined_column
1299,Comedy,alcohol college party sequel sorority,en,A sorority moves in next door to the home of M...,New neighbors.,Neighbors 2: Sorority Rising,Seth Rogen Rose Byrne Zac Efron Chlo\u00eb Gra...,Nicholas Stoller,neighbor sorority rising comedy alcohol colleg...
3153,Horror,post-apocalyptic dystopia zombie,en,There's a deadly zombie epidemic threatening h...,Don't Get Bitten,Maggie,Arnold Schwarzenegger Abigail Breslin Joely Ri...,Henry Hobson,maggie horror postapocalyptic dystopia zombie ...
1775,Action Adventure Comedy Fantasy,kung fu chinatown magic mystery,en,"When trucker, Jack Burton agreed to take his f...",Adventure doesn't come any bigger!,Big Trouble in Little China,Kurt Russell Kim Cattrall Dennis Dun James Hon...,John Carpenter,big trouble little china action adventure come...
1404,Comedy Romance,competition jealousy fight materialism bridesmaid,en,Annie’s life is a mess. But when she finds out...,Save the date,Bridesmaids,Kristen Wiig Rose Byrne Maya Rudolph Wendi McL...,Paul Feig,bridesmaid comedy romance competition jealousy...
702,Fantasy Action Science Fiction,black magic fistfight cover-up superhero paran...,en,"In the final days of World War II, the Nazis a...",From the Dark Side to Our Side.,Hellboy,Ron Perlman Selma Blair Rupert Evans John Hurt...,Guillermo del Toro,hellboy fantasy action science fiction black m...

In [68]:
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [69]:
indices

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
Cure                                        3752
On The Downlow                              3753
Bang                                        3754
Primer                                      3755
El Mariachi                                 3756
Length: 3757, dtype: int64

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [71]:
tfidf = TfidfVectorizer(stop_words='english', max_features= 50000, ngram_range=(1,2))

In [72]:
tfidf_matrix = tfidf.fit_transform(df['combined_column'])

In [73]:
from sklearn.metrics.pairwise import cosine_similarity

In [101]:
def recommend(title, n= 10):
  if title not in indices:
    return "Title not found"

  idx = indices[title]

  print(f"Title : {df['title'].iloc[idx]}")
  print(f"Director : {df['director'].iloc[idx]}")
  print(f"Cast : {df['cast'].iloc[idx]}")
  print(f"Genres : {df['genres'].iloc[idx]}")

  sim_scores = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten()
  similar_idx = sim_scores.argsort()[::-1][1:n+1]

  results = pd.DataFrame({
      "title": df['title'].iloc[similar_idx].values,
      "similarity_score": sim_scores[similar_idx],
      "Cast": df['cast'].iloc[similar_idx].values,
      "Director": df['director'].iloc[similar_idx].values,
      "Genres": df['genres'].iloc[similar_idx].values,
  })
  return results

In [102]:
df['title'].sample(5)

1355       Whiteout
2744    Melancholia
2745        Red Dog
972         Taken 3
2337         Brazil
Name: title, dtype: object

In [103]:
recommend('Casino').reset_index(drop = True)

Title : Casino
Director : Martin Scorsese
Cast : Robert De Niro Sharon Stone Joe Pesci James Woods Don Rickles
Genres : Drama Crime

,title,similarity_score,Cast,Director,Genres
0,GoodFellas,0.216902,Robert De Niro Ray Liotta Joe Pesci Lorraine B...,Martin Scorsese,Drama Crime
1,Last Vegas,0.180388,Robert De Niro Morgan Freeman Michael Douglas ...,Jon Turteltaub,Comedy
2,Lucky You,0.173222,Eric Bana Drew Barrymore Robert Duvall Debra M...,Curtis Hanson,Drama Romance
3,Once Upon a Time in America,0.149300,Robert De Niro James Woods Elizabeth McGovern ...,Sergio Leone,Drama Crime
4,Shine a Light,0.133821,Mick Jagger Keith Richards Charlie Watts Ronni...,Martin Scorsese,Documentary Music
5,Mean Streets,0.122764,Harvey Keitel Robert De Niro David Proval Amy ...,Martin Scorsese,Drama Crime
6,Leaving Las Vegas,0.115388,Nicolas Cage Elisabeth Shue Julian Sands Richa...,Mike Figgis,Drama Romance
7,Wild Card,0.107159,Jason Statham Michael Angarano Milo Ventimigli...,Simon West,Thriller Crime Drama
8,8 Heads in a Duffel Bag,0.104709,Joe Pesci Kristy Swanson George Hamilton Dyan ...,Tom Schulman,Comedy Crime
9,The Last Waltz,0.104595,Robbie Robertson Rick Danko Levon Helm Richard...,Martin Scorsese,Documentary Music

In [104]:
import pickle

In [105]:
# save dataframe
pickle.dump(df, open('movies_df.pkl', 'wb'))

# save tfidf matrix
pickle.dump(tfidf_matrix, open('tfidf_matrix.pkl', 'wb'))

# save indices
pickle.dump(indices, open('indices.pkl', 'wb'))

# save tfidf vectorizer (recommended)
pickle.dump(tfidf, open('tfidf_vectorizer.pkl', 'wb'))